* {
    padding: 0;
    margin: 0;
}
html {
    background-color: black;
}

/*NAVIGATION STYLE*/

header .container {
    color: white;
    display: flex;
    background-color: black;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    box-shadow: 2px 2px 2px 2px #88248f;
}

header h3 {
    margin: 0 45% 0 30px;
    font-family: 'Moirai One', cursive;
    font-size: 30px;
    color: #ec3ef8;
}
header nav ul {
    padding-top: 10px;
}

nav ul li {
    display: inline-block;
    margin-right: 35px;
}

nav ul li a {
    font-family: 'Moirai One', cursive;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

nav ul li a:hover {
    color: #ec3ef8;
    transition: all 300ms;
}

/*MAIN STYLE*/
main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 20px 20px ;
    text-align: center;
    color: white;
}
main .container {
    padding: 20px 0 50px 0;
}
main .container #home h1 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #ec3ef8;
    text-shadow: 2px 2px white;
    font-size: 170px;
    letter-spacing: 30px;
    line-height: 230px;
    padding: 170px 50px 50px 50px;
    text-align: center;
}

/*SECTION STYLE*/
section {
    background-color: black;
}
section .container #profile {
    display: flex;
    padding: 150px 100px 100px 100px;
}
.hidden {
    display: none;
}
section .container #profile img {
    margin: 70px;
    width: 40%;
    border-radius: 5px;
}
section .container #profile .aside {
    padding: 170px 30px 20px 30px;
    text-align: center;

}
section .container #profile .aside h4 {
    font-size: 30px;
    font-family: 'Moirai One', cursive;
    margin-top: 70px;
    margin-bottom: 20px;
    color: white;
}
section .container #profile .aside p {
    color: #ec3ef8;
    font-family: 'Ysabeau SC', sans-serif;
}

/*ASIDE STYLE*/
aside {
    background-color: #ec3ef8;
    padding: 120px;
}

aside #song h3 {
    text-align: center;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    padding:120px 20px 20px 20px;
    text-shadow: 2px 2px white;
}
aside  #song .container {
    display: flex;
    padding: 20px 100px 20px 100px;
}
aside  #song .container a{
    padding:50px 30px 30px 30px;
    text-decoration: none;
    color: black;
    margin: 30px;
}
aside  #song .container a img {
    width: 100%;
    border-radius: 5px;
}
aside  #song .container img:hover {
    width: 105%;
    transition: all 500ms;
}
aside  #song .container h5,p {
    font-family: 'Ysabeau SC', sans-serif;
    margin-top: 10px;
    text-align: center
}
aside .side {
    text-align: center;
}
aside .side a {
    text-decoration: none;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    color: black;
    text-shadow: 2px 2px white;
}
aside .side a:hover {
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px black;
    transition: all 500ms;
}

/*ARTICLE STYLE*/
article {
    background-color: white;
    color: black;
    padding: 150px 200px 100px 200px;
}
article #contact {
    padding: 20px;
} 
article  h3 {
    font-family: 'Ysabeau SC', sans-serif;
    color: #ec3ef8;
    text-align: center;
}
article #contact .second .icons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
article #contact .second .icons p a img {
    width: 35px;
    margin: 0 25px 0 25px;
}
article #contact .second .icons p img:hover {
    width: 40px;
    transition: all 500ms;
}

/*FOOTER STYLE*/
footer {
    background-color: black;
    padding: 20px;
}
footer .container p {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: #ec3ef8;
}





/*MEDIA QUERY L LAPTOP*/
@media screen and (min-width: 1025px) and (max-width: 1290px) {
    html {
        margin: 0;
        padding: 0;
    }

    header .container h3 {
        display: none;
    }
    header .container nav {
        list-style: none;
        margin: 0 auto;
        text-align:center;
    }
    main .container #home h1 {
        font-size: 100px;
        line-height: 150px;
    }
    section .container #profile .aside {
        padding-top: 70px;
    }
    aside #song .container {
        padding: 0;
    }
    aside #song .container a {
        margin: 10px;
        padding: 0 30px 0 30px;
    }
    aside .side {
        letter-spacing: 10px;
        padding-top: 30px;
    }
    article #contact .second .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    
}
/*MEDIA QUERY SMALL LAPTOP*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header .container h3 {
        list-style: none;
        margin: 0 auto;
        text-align: center;
    }
    header .container nav {
        display: none;
    }
    main .container #home h1 {
        font-size: 100px;
    }
    section .container #profile {
        padding: 60px;
    }
    section .container #profile img {
        margin: 20px;
        width: 40%;
        height: 20%;
    }
    section .container #profile .aside {
        padding-top: 0;
        padding-bottom: 40px;
    }
    aside {
        padding: 10px;
    }
    aside .side {
        padding-bottom: 30px;
    }
    aside #song .container {
        padding: 20px;
    }
}

/*MEDIA QUERY TABLET*/
@media screen and (min-width: 425px) and (max-width:769px) {
    header .container h3 {
        list-style: none;
        margin: 0 auto;
        text-align: center;
    }
    header .container nav {
        display: none;
    }
    main .container #home h1 {
        font-size: 35px;
        line-height: 60px;
    }
    section .container #profile {
        display: block;
        padding: 150px 50px 100px 50px;
    }
    section .container #profile img {
        min-width: 100%;
        margin: auto;
    }
    section .container #profile .aside {
        padding-top: 30px;
    }
    section .container #profile .aside h4 {
        margin-top: 20px;
    }
    aside {
        padding: 70px;
    }
    aside #song .container {
        display: block;
        margin: auto;
        padding: 10px;
    }
    aside #song .container a img{
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 50%;
    }
    aside  #song .container img:hover {
    width: 55%;
    transition: all 500ms;
}
    
    article {
        padding: 80px 60px 60px 60px;
    }
    article #contact .second .icons p a img {
        width: 20px;
    }
}
/*MEDIA QUERY PHONES*/
@media screen and (max-width:425px) {
    header .container h3 {
        list-style: none;
        margin: 0 auto;
        text-align: center;
    }
    header .container nav {
        display: none;
    }
    main .container #home h1 {
        padding: 170px 20px 50px 20px;
        font-size: 30px;
        line-height: 60px;
    }
    section .container #profile {
        display: block;
        padding: 150px 40px 100px 40px;
    }
    section .container #profile img {
        width: 100%;
        margin: auto;
    }
    section .container #profile .aside {
        padding: 30px 10px 20px 10px;
    }
    section .container #profile .aside h4 {
        margin-top: 20px;
    }
    aside {
        padding: 70px;
    }
    aside #song .container {
        display: block;
        margin: auto;
        padding: 10px;
    }
    aside #song .container a img{
        text-align: center;
        display: block;
        margin-right: auto;
        margin-left: auto;
        width: 70%;
    }
    aside  #song .container img:hover {
    width: 80%;
    transition: all 500ms;
}
    
    article {
        padding: 80px 20px 60px 20px;
    }
    article #contact .second .icons p a img {
        width: 20px;
        margin: 0 10px;
    }
}
/*MEDIA QUERY S PHONES*/
@media screen and (max-width:320px) {
    header .container h3 {
        padding: 0 20px;
        list-style: none;
        margin: 0 auto;
        text-align: center;
    }

    main .container #home h1 {
        padding: 170px 20px 50px 20px;
        font-size: 15px;
        line-height: 60px;
    }
    aside  #song .container img:hover {
    width: 80%;
    transition: all 500ms;
}
}

